﻿@{
    var clients = (List<SpeedLinkAdminPortal.Models.MClient>)ViewBag.clients;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>SMS</th>
            <th>Whatsapp</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in clients)
        {
            <tr>
                <td title="@item.IdNavigation.Email">@item.IdNavigation.Email</td>
                <td title="@item.Name">@item.Name</td>
                <td title="@item.MobileSms">@item.MobileSms</td>
                <td title="@item.MobileWhatsapp">@item.MobileWhatsapp</td>
                <td>
                    <a href="~/clients/EditClient/@item.Id" style="color:blue;">
                        Edit
                    </a>
                    |
                    <a href="~/clients/ScheduleClientUpdates/@item.Id" style="color:purple;">
                        Schedules
                    </a>
                    |
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Client?',
            buttons: {
                Yes: function () {
                    window.location = "../Clients/DeleteClient/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>