﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var client = (SpeedLinkAdminPortal.Models.AspNetUsers)ViewBag.client;
}

@*
    
edit the client
*@

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/Clients/EditClient" method="post">
                <input type="hidden" value="@client.Id" name="id" />
                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Name</label>
                            <input name="Name" type="text" value="@client.MClient.Name" class="form-control" required>
                        </div>
                    </div>
                </div>


                @*row1*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Email</label>
                            <input name="Email" type="text" value="@client.Email" class="form-control" readonly>
                            <small style="color:red;">email cannot change</small>
                        </div>
                    </div>
                </div>


                @*row2*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red"></span> MobileWhatsapp</label>
                            <input name="MobileWhatsapp" value="@client.MClient.MobileWhatsapp" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red"></span> MobileSms</label>
                            <input name="MobileSms" type="text" class="form-control" value="@client.MClient.MobileSms">
                        </div>
                    </div>
                </div>

                @*row3*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red"></span> Cutomer Number</label>
                            <input name="CustomerNumber" value="@client.MClient.CustomerNumber" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
