﻿@{
    Layout = "~/Views/shared/_LayoutMain.cshtml";
    var client = (SpeedLinkAdminPortal.Models.AspNetUsers)ViewBag.client;
}

<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

@*clock picker*@
<link href="~/libs/clockpicker/jquery-clockpicker.min.css" rel="stylesheet" />
<script src="~/libs/clockpicker/jquery-clockpicker.min.js"></script>

<div class="continer">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Schedule Updates for @client.MClient.Name
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="~/Clients/AddScheduleClientUpdates">
                <input type="hidden" name="AspNetUserId" value="@client.Id" />
                <table class="table">
                    <tr>
                        <td>
                            <div class="clockpicker">
                                <input type="text" name="SendTime" id="SendTime" value="09:30" style="border: 0px none;width:80px;">
                                <span class="fa fa-clock"></span>
                            </div>
                        </td>
                        <td>Whatsapp: <input type="checkbox" value="true" name="Whatsapp" /></td>
                        <td>SMS: <input type="checkbox" value="true" name="Sms" /></td>
                        <td>Sun: <input type="checkbox" value="true" name="Sun" /></td>
                        <td>Mon: <input type="checkbox" value="true" name="Mon" /></td>
                        <td>Tue: <input type="checkbox" value="true" name="Tue" /></td>
                        <td>Wed: <input type="checkbox" value="true" name="Wed" /></td>
                        <td>Thu: <input type="checkbox" value="true" name="Thu" /></td>
                        <td>Fri: <input type="checkbox" value="true" name="Fri" /></td>
                        <td>Sat: <input type="checkbox" value="true" name="Sat" /></td>

                    </tr>
                </table>
                <button type="submit" class="btn btn-sm btn-success">Add Schedule</button>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="dt">
                <thead>
                    <tr>
                        <th>Whatsapp</th>
                        <th>SMS</th>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>SendTime</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in client.MScheduledUpdates)
                    {
                        <tr>
                            <td>Whatsapp: <input type="checkbox" disabled value="true" name="Whatsapp" checked="@(item.Whatsapp)" /></td>
                            <td>SMS: <input type="checkbox" disabled value="true" name="Sms" checked="@(item.Sms)" /></td>
                            <td>Sun: <input type="checkbox" disabled value="true" name="Sun" checked="@(item.Sun)" /></td>
                            <td>Mon: <input type="checkbox" disabled value="true" name="Mon" checked="@(item.Mon)" /></td>
                            <td>Tue: <input type="checkbox" disabled value="true" name="Tue" checked="@(item.Tue)" /></td>
                            <td>Wed: <input type="checkbox" disabled value="true" name="Wed" checked="@(item.Wed)" /></td>
                            <td>Thu: <input type="checkbox" disabled value="true" name="Thu" checked="@(item.Thu)" /></td>
                            <td>Fri: <input type="checkbox" disabled value="true" name="Fri" checked="@(item.Fri)" /></td>
                            <td>Sat: <input type="checkbox" disabled value="true" name="Sat" checked="@(item.Sat)" /></td>
                            <td>@item.SendTime</td>
                            <td>
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Schedule?',
            buttons: {
                Yes: function () {
                    window.location = "@Url.Content($"~/Clients/DeleteScheduleClientUpdates/")"+id;
                },
                No: function () {
                },

            }
        });

    }
</script>

<script type="text/javascript">
    $('#SendTime').clockpicker({
        donetext: 'Done'
    });
</script>